<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 80px">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-size: 30px">E-Mentoring</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="font-size: 22px">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        
        {% if "mentorloggedin" in session %}
        
        
        <a class="nav-link" href="/mentor_solve">Doubts</a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
        <a class="nav-link" href="#"><b> Hello {{session['mentorusername']}} {{session['mentorid']}} </b></a>
        <a class="nav-link" href="http://127.0.0.1:5000/">Logout</a>
        {%else%}
        <a class="nav-link" href="http://127.0.0.1:5000/mlogin">Login</a>
        {%endif%}
      </div>
    </div>
  </div>
</nav>