<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>ADD LECTURES</h1>
	<a href="http://127.0.0.1:5000/alec1">Networking</a>
	<a href="http://127.0.0.1:5000/alec2">Java</a>
	<a href="http://127.0.0.1:5000/alec3">Internet Technology</a>



<!-- </head>
<body>
	<div class="card card-body">
		<center>
			<h1> ADD LECTURES </h1>
		</center>
		<form action="/selectlec" method="POST">
			<div class="form-group">
				<input type="text" name="name" placeholder="Subject Name">
			</div><br>
			<div class="form-group">
				<input type="text" name="anchor" placeholder="Anchor">
			</div><br>
			<button class="button button1">Add</button><br>
		</form>
	</div>
	<br>
	<br>

	<table id="example" class="table-striped table-bordered" style="width:100%">
		<thead>
			<tr>
				<td>
					Name
				</td>
				<td>
					Anchor
				</td>
			</tr>
		</thead>
		<tbody>
			{% for y in val %}
			<tr>
				<td>{{y[1]}}</td>
				<td>{{y[2]}}</td>
				<td width="100">
				<a href="/delsub/{{y[0]}}"><button>Delete</button></a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table> -->
	


</body>
</html>